.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    font-size: 2rem;
    padding: 0.25rem;
    border: 3px solid rgb(32, 66, 61);
    border-radius: 0.8rem;
  }
  input + button {
    margin-left: 0.5rem; /* 添加左侧间距 */
  }
  button {
    padding: 0.3rem 0.9rem;
    background-color: rgb(14, 85, 73);
    color: white;
    cursor: pointer;
    border-radius: 3rem;
  }
  button:hover {
    background-color: rgb(30, 130, 114); /* 在悬停时改变背景颜色 */
  }

  button:active {
    background-color: rgb(8, 54, 47); /* 在点击时改变背景颜色 */
  }
}
