@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Playfair", serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.morePicture button {
  padding: 0.3rem 0.9rem;
  font-size: 2rem;
  border: none;
  background-color: rgb(14, 85, 73);
  color: white;
  cursor: pointer;
  border-radius: 2rem;
}
.morePicture button:hover {
  background-color: rgb(30, 130, 114); /* 在悬停时改变背景颜色 */
}
.morePicture button:active {
  background-color: rgb(8, 54, 47); /* 在点击时改变背景颜色 */
}

h1 {
  text-align: left; /* 靠左对齐 */
  color: rgb(255, 255, 255); /* 文本颜色为白色 */
  margin-left: 1rem;
  padding: 0.5rem 1rem;
}

nav {
  background-color: rgb(86, 138, 129);
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}
nav ul li {
  padding: 0.5rem 1rem;
}
nav ul li a {
  font-size: 1.5rem;
  color: white;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
}
.search input,
.search button {
  font-size: 2rem;
  padding: 0.25rem;
  border: 3px solid rgb(32, 66, 61);
  border-radius: 0.8rem;
}
.search input + button {
  margin-left: 0.5rem; /* 添加左侧间距 */
}
.search button {
  padding: 0.3rem 0.9rem;
  background-color: rgb(14, 85, 73);
  color: white;
  cursor: pointer;
  border-radius: 3rem;
}
.search button:hover {
  background-color: rgb(30, 130, 114); /* 在悬停时改变背景颜色 */
}
.search button:active {
  background-color: rgb(8, 54, 47); /* 在点击时改变背景颜色 */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgb(144, 196, 188);
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pictures .picture {
  padding: 1rem;
  width: 400px;
}
.pictures .picture .imageContainer {
  overflow: hidden;
  height: 40vh;
}
.pictures .picture .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.pictures .picture .imageContainer img:hover {
  transform: scale(1.25);
}

.about-container {
  background-color: #c8f9e6;
  text-align: center;
}

.about-title {
  display: flex;
  justify-content: center;
  color: #333;
  font-size: 2rem;
  text-decoration: underline;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about-content {
  color: #333;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: inline-block;
  padding: 1rem;
}

p {
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  font-size: 1.5rem;
  padding: 0.3rem 0.9rem;
  background-color: rgb(14, 85, 73);
  color: white;
  cursor: pointer;
  border-radius: 3rem;
  margin-top: 1rem;
}

button:hover {
  background-color: rgb(30, 130, 114); /* 在悬停时改变背景颜色 */
}/*# sourceMappingURL=style.css.map */